<div class="container">
    <div class="row">
        <h1>Cook's Illustrated Recipes</h1>
    </div>
  
    <div class="row">
      <div class="col-md-8 col-offset-2">
          <p>
              This is a demo version of an Angular app I created to catalogue and keep track of my collection of Cook's Illustrated magazines.
              The original connects to an SQL Server Database, but this demo version is rewritten to connect to a Firebase DB.
            </p>
            <p>
              You can run the app as-is, and browse issues and Recipes. If you want to edit, add, or delete recipes, you'll need to get the login and password from me,
              or create your own Firebase DB, and replace the details of the firebaseConfig object in app.module.ts (starting on line 33) with your own credentials.
            </p>
      </div>
    </div>